/* Custom CSS by Garrett Estrin | Garrett.Estrin.com */

body {
  margin: 20px auto;
  width: 1000px;

}

#rink {
width: 980px;
height: 500px;
margin: 0 auto;
}

.grid {
  width: 98px;
  height: 98px;
  border: solid rgb(245, 245, 245) 1px;
  float: left;
}

#s0 {
  border-top-left-radius: 50%;
}

#s9 {
  border-top-right-radius: 50%;
}

#s40 {
  border-bottom-left-radius: 50%;
}

#s49 {
  border-bottom-right-radius: 50%;
}

.redDefense {
  background-color: red;
}

.blueDefense {
  background-color: blue;
}

.red {
  background-color: red;
}

.blue {
  background-color: blue;
}

.forward {
  border-radius: 50%;
}

.puck {
background-image: url(./puck.png);
background-position: center;
background-repeat: no-repeat;
}

.possibleMove {
  background-color: rgb(245, 245, 245);
  border-radius: 50%;
}

.hide {
  display: none;
}

.redgoalie {
  background-image: url(./redgoalie.png);
  background-position: center;
  background-repeat: no-repeat;
}

.bluegoalie {
  background-image: url(./bluegoalie.png);
  background-position: center;
  background-repeat: no-repeat;
}

ul {
  display: inherit;
  text-align: center;
}

li {
  display: inherit;
  text-align: center;
  margin-left: -35px;
}

.menuItem {
  position: relative;
  left: 100px;
  border: solid black 1px;
  background-color: white;
}
