/* Custom CSS by Garrett Estrin | Garrett.Estrin.com */

body {
  margin: 20px auto;
  width: 1000px;

}

#rink {
width: 1000px;
height: 500px;
}

.grid {
  width: 98px;
  height: 98px;
  border: solid rgb(245, 245, 245) 1px;
  float: left;
}

#s0 {
  border-top-left-radius: 50%;
}

#s9 {
  border-top-right-radius: 50%;
}

#s40 {
  border-bottom-left-radius: 50%;
}

#s49 {
  border-bottom-right-radius: 50%;
}

.puckRed {

}

.puckBlue {

}

.redDefense {
  background-color: red;
}

.blueDefense {
  background-color: blue;
}

.redForward {
  background-color: red;
  border-radius: 50%
}

.blueForward {
  background-color: blue;
  border-radius: 50%
}

.puck {
background-image: url(./puck.png);
background-position: center;
background-repeat: no-repeat;
}

.possibleMove {
  background-color: grey;
}
